@page
@model AppGCT.Pages.Ginasio.Epocas.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Epoca</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.LabelFor(model=>model.Epoca.NomeEpoca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Epoca.NomeEpoca)
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(model=>model.Epoca.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Epoca.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(model=>model.Epoca.DataFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Epoca.DataFim)
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(model=>model.Epoca.EstadoEpoca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Epoca.StatusDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(model=>model.Epoca.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Epoca.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(model=>model.Epoca.IdCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Epoca.IdCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(model=>model.Epoca.DataModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Epoca.DataModificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(model=>model.Epoca.IdModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Epoca.IdModificacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Epoca?.IdEpoca">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
