@page
@model AppGCT.Pages.Utilizador.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Utilizadores[0].FK_idRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizadores[0].estadoUtilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizadores[0].nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Utilizadores) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FK_idRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
