@page
@model AppGCT.Pages.Gestao.Metodos.DeleteModel

@{
    ViewData["Title"] = "Apagar Método Pagamento";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Apagar Método Pagamento</h1>
<h3>Pretende mesmo apagar o Método Pagamento?</h3>
<hr />
<div>
    <a class='btn btn-success' asp-area='' asp-page='/Gestao/Metodos/Index'>
        <span class="btn-svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </span>
    </a>
</div>
<br>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPagamento.CodMetodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetodoPagamento.CodMetodo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPagamento.DescMetodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetodoPagamento.DescMetodo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPagamento.ValorDesconto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetodoPagamento.ValorDesconto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPagamento.EstadoMetodo)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.MetodoPagamento.EstadoMetodo, "A", new { @disabled = "disabled" }) Ativo
            @Html.RadioButtonFor(model => model.MetodoPagamento.EstadoMetodo, "I", new { @disabled = "disabled" }) Inativo
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPagamento.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetodoPagamento.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPagamento.IdCriacao)
        </dt>
        <dd class="col-sm-10">
            @Model.IdCriacaoName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPagamento.DataModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetodoPagamento.DataModificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPagamento.IdModificacao)
        </dt>
        <dd class="col-sm-10">
            @Model.IdModificacaoName
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MetodoPagamento.CodMetodo" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
    </form>
</div>
