@page
@model AppGCT.Pages.Gestao.Metodos.IndexModel

@{
    ViewData["Title"] = "Gestão Métodos Pagamento";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Gestão Métodos Pagamento</h1>

<p>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Metodos/Create'>Novo Método Pagamento</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Descrição Método Pagamento
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Procurar" class="btn btn-primary btn-sm" />
            <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Metodos/Index'>Limpar</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CodMetodoSort">
                    @Html.DisplayNameFor(model => model.MetodoPagamento[0].CodMetodo)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DescMetodoSort">
                    @Html.DisplayNameFor(model => model.MetodoPagamento[0].DescMetodo)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ValorDescontoSort">
                    @Html.DisplayNameFor(model => model.MetodoPagamento[0].ValorDesconto)
                </a>
            </th>
            <th>       
                <a asp-page="./Index" asp-route-sortOrder="@Model.EstadoMetodoSort">
                    @Html.DisplayNameFor(model => model.MetodoPagamento[0].EstadoMetodo)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MetodoPagamento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodMetodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescMetodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDesconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoMetodoDescricao)
            </td>
            <td>
                <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Metodos/Edit' asp-route-id='@item.CodMetodo'>Editar</a>
                <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Metodos/Details' asp-route-id='@item.CodMetodo'>Detalhes</a>
                <a class='btn btn-danger btn-sm' asp-area='' asp-page='/Gestao/Metodos/Delete' asp-route-id='@item.CodMetodo'>Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
