@page
@model AppGCT.Pages.Gestao.Movimentos.CreateModel
@Html.HiddenFor(m => m.Movimento.DesRubrica)
@Html.HiddenFor(m => m.Movimento.IdCriacao)
@Html.HiddenFor(m => m.Movimento.DataCriacao)
@Html.HiddenFor(m => m.Movimento.IdModificacao)
@Html.HiddenFor(m => m.Movimento.DataModificacao)

@{
    ViewData["Title"] = "Criar Movimento Contabilístico";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    .validation-error {
        color: red;
    }
</style>

<h1>Criar movimento contabilístico</h1>
<hr />
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Movimentos/Index'>Voltar</a>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movimento.RubricaId" class="control-label">Rúbrica</label>
                <select asp-for="Movimento.RubricaId" class="form-control" asp-items="ViewBag.RubricaId"></select>
                @Html.ValidationMessageFor(model => model.Movimento.RubricaId, null, new { @class = "validation-error" })
            </div>
            <!-- código js para proteger/desproteger campos preenchidos apenas se existir classe preenchida -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    
                    // Obter nome campos
                    var FaturaField = $('#Movimento_NumFatura');
                    var NotaCreditoField = $('#Movimento_NumNotaCredito');
                    var TipoDespesaField = $('#Movimento_RubricaId');
                    var MetodoPagamentoField = $('#Movimento_MetodoPagamentoId');
                    var ValorMovimentoField = $('#Movimento_ValorMovimento');
                    var ValorDescontoField = $('#Movimento_ValorDesconto');
                    var lblMetPagField = $('#lblMetodo');
                    var lblFaturaField = $('#lblFatura');
                    var lblNotCredField = $('#lblNotaCred');

                    TipoDespesaField.find('option:first').attr('selected', 'selected');
                    MetodoPagamentoField.find('option:first').attr('selected', 'selected');

                    // Função para alterações sobre o campo Classe
                    TipoDespesaField.on('change', function () {
                        var selectedValue = $(this).val();
                        if (selectedValue == "") {
                            FaturaField.prop('disabled', true);
                            NotaCreditoField.prop('disabled', true);
                            MetodoPagamentoField.prop('disabled', true);
                            ValorMovimentoField.prop('disabled', true);
                            ValorDescontoField.prop('disabled', true);
                            lblMetPagField.prop('hidden', true);
                            lblNotCredField.prop('hidden', false);
                            lblFaturaField.prop('hidden', false);
                            FaturaField.val('');
                            NotaCreditoField.val('');
                        }
                        else {
                            $.ajax({
                                url: '@Url.Page("/Gestao/Movimentos/Create", "RandomNumber")',
                                data: { selectedValue: selectedValue },
                                type: 'GET',
                                success: function (data) {
                                    //console.log("Sucesso" data.valor);
                                        $.each(data, function (index, itemData) {
                                            console.log("Cá estou", itemData[0]);
                                            switch (itemData[0].name) {
                                                case 'P':
                                                    FaturaField.prop('disabled', false);
                                                    lblFaturaField.prop('hidden', false);
                                                    FaturaField.val('');
                                                    //Esconder e desativar campo Nota de Crédito
                                                    NotaCreditoField.prop('disabled', true);
                                                    lblNotCredField.prop('hidden', true);
                                                    NotaCreditoField.val('');
                                                    // Mostrar DIV do Metodo de Pagamento
                                                    lblMetPagField.prop('hidden', false);
                                                    MetodoPagamentoField.prop('disabled', false);
                                                    // habilitar Valor Movimento
                                                    ValorMovimentoField.prop('disabled', false);
                                                    ValorMovimentoField.val(0);
                                                    // habilitar Valor Desconto
                                                    ValorDescontoField.prop('disabled', false);
                                                    ValorDescontoField.val(0);
                                                    break;
                                                case 'D':
                                                    FaturaField.prop('disabled', true);
                                                    lblFaturaField.prop('hidden', true);
                                                    FaturaField.val('');
                                                    //Mostrar e ativar campo Nota de Crédito
                                                    NotaCreditoField.prop('disabled', false);
                                                    lblNotCredField.prop('hidden', false);
                                                    NotaCreditoField.val('');

                                                    MetodoPagamentoField.prop('disabled', true);
                                                    lblMetPagField.prop('hidden', true);
                                                    // habilitar Valor Movimento
                                                    ValorMovimentoField.prop('disabled', false);
                                                    ValorMovimentoField.val(0);
                                                    // habilitar Valor Desconto
                                                    ValorDescontoField.prop('disabled', true);
                                                    ValorDescontoField.val(0);
                                                    break;
                                                case 'O':
                                                    
                                                   //Esconder e desativar campo Fatura
                                                    FaturaField.prop('disabled', true);
                                                    lblFaturaField.prop('hidden', true);
                                                    FaturaField.val('');
                                                    //Esconder e desativar campo Nota de Crédito
                                                    NotaCreditoField.prop('disabled', true);
                                                    lblNotCredField.prop('hidden', true);
                                                    NotaCreditoField.val('');

                                                    MetodoPagamentoField.prop('disabled', true);
                                                    lblMetPagField.prop('hidden', true);

                                                    // preencher valor do movimento
                                                    ValorMovimentoField.val(itemData[0].index);
                                                    ValorMovimentoField.prop('disabled', true);
                                                    break;
                                                default:
                                                    alert("Pedimos desculpa, mas algo não correu como esperado.");
                                            }
                                        });
                                },
                                error: function (xhr, status, error) {
                                    console.log("Erro");

                                }
                            });
                    // Fim de ELSE do AJAX
                    }
                    });
                });
                                        // Protege ou desprotege campos com base no valor do ClasseId
            </script>
            <div id="lblFatura" class="form-group">
                <label asp-for="Movimento.NumFatura" class="control-label"></label>
                <input asp-for="Movimento.NumFatura" class="form-control" disabled />
                <span asp-validation-for="Movimento.NumFatura" class="text-danger"></span>
            </div>
            <div id="lblNotaCred" class="form-group">
                <label asp-for="Movimento.NumNotaCredito" class="control-label"></label>
                <input asp-for="Movimento.NumNotaCredito" class="form-control" disabled />
                <span asp-validation-for="Movimento.NumNotaCredito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.DtMovimento" class="control-label"></label>
                <input asp-for="Movimento.DtMovimento" class="form-control" />
                <span asp-validation-for="Movimento.DtMovimento" class="text-danger"></span>
            </div>
            <div id="lblMetodo" class="form-group" hidden>
                <label asp-for="Movimento.MetodoPagamentoId" class="control-label" >Método de Pagamento</label>
                <select asp-for="Movimento.MetodoPagamentoId" class="form-control" asp-items="ViewBag.MetodoPagamentoId" disabled ></select>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.ValorMovimento" class="control-label"></label>
                <input asp-for="Movimento.ValorMovimento" class="form-control" disabled />
                <span asp-validation-for="Movimento.ValorMovimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.ValorDesconto" class="control-label"></label>
                <input asp-for="Movimento.ValorDesconto" class="form-control" disabled />
                <span asp-validation-for="Movimento.ValorDesconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.UtilizadorId" class="control-label"></label>
                <select asp-for="Movimento.UtilizadorId" class ="form-control" asp-items="ViewBag.UtilizadorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.AtletaMovimentoId" class="control-label">Ginasta</label>
                <select asp-for="Movimento.AtletaMovimentoId" class ="form-control" asp-items="ViewBag.AtletaMovimentoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
