@page
@model AppGCT.Pages.Gestao.Movimentos.CreateModel
@Html.HiddenFor(m => m.Movimento.DesRubrica)
@Html.HiddenFor(m => m.Movimento.IdCriacao)
@Html.HiddenFor(m => m.Movimento.DataCriacao)
@Html.HiddenFor(m => m.Movimento.IdModificacao)
@Html.HiddenFor(m => m.Movimento.DataModificacao)

@{
    ViewData["Title"] = "Criar Movimento Contabilístico";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    .validation-error {
        color: red;
    }
</style>

<h1>Criar movimento contabilístico</h1>
<hr />
<div>
    <a title="Voltar" class='btn btn-success' asp-area='' asp-page='/Gestao/Movimentos/Index'>
        <span class="btn-svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </span>
    </a>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movimento.RubricaId" class="control-label">Rúbrica</label>
                <select asp-for="Movimento.RubricaId" class="form-control" asp-items="ViewBag.RubricaId"></select>
                @Html.ValidationMessageFor(model => model.Movimento.RubricaId, null, new { @class = "validation-error" })
            </div>
            <!-- código js para proteger/desproteger campos preenchidos apenas se existir classe preenchida -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    
                    // Obter nome campos
                    var FaturaField = $('#Movimento_NumFatura');
                    var NotaCreditoField = $('#Movimento_NumNotaCredito');
                    var TipoDespesaField = $('#Movimento_RubricaId');
                    var MetodoPagamentoField = $('#Movimento_MetodoPagamentoId');
                    var AtletaMovimentoIdField = $('#Movimento_AtletaMovimentoId');
                    var ValorMovimentoField = $('#Movimento_ValorMovimento');
                    var ValorDescontoField = $('#Movimento_ValorDesconto');
                    var ObservacoesField = $('#Movimento_Observacoes');
                    var lblMetPagField = $('#lblMetodo');
                    var lblFaturaField = $('#lblFatura');
                    var lblNotCredField = $('#lblNotaCred');
                    var lblvalDescontoField = $('#lblvalDesconto');
                    var lblObservacoesField = $('#lblObservacoes');
                    var lblAtletaField = $('#lblAtleta');


                    NotaCreditoField.attr('placeholder', '');
                    FaturaField.attr('placeholder', '');

                    TipoDespesaField.find('option:first').attr('selected', 'selected');
                    MetodoPagamentoField.find('option:first').attr('selected', 'selected');
                    AtletaMovimentoIdField.find('option:first').attr('selected', 'selected');

                    // Função para alterações sobre o campo Classe
                    TipoDespesaField.on('change', function () {
                        var selectedValue = $(this).val();
                        if (selectedValue == "") {
                            FaturaField.prop('disabled', true);
                            NotaCreditoField.prop('disabled', true);
                            ValorMovimentoField.prop('disabled', true);
                            ValorDescontoField.prop('disabled', true);
                            ObservacoesField.prop('disabled', true);
                            lblNotCredField.prop('hidden', false);
                            lblFaturaField.prop('hidden', false);
                            NotaCreditoField.attr('placeholder', '');
                            FaturaField.attr('placeholder', '');
                            lblvalDescontoField.prop('hidden', false);
                            lblObservacoesField.prop('hidden', true);
                            FaturaField.val('');
                            NotaCreditoField.val('');
                            ObservacoesField.val('');
                            ValorMovimentoField.val(0);
                            ValorDescontoField.val(0);

                            // Mostrar Atleta, desabilitar e reposicionar na primeira posição
                            lblAtletaField.prop('hidden', false);
                            AtletaMovimentoIdField.prop('disabled', true);
                            AtletaMovimentoIdField[0].selectedIndex = 0;

                            // Esconder Método de Pagamento, desabilitar e reposicionar na primeira posição
                            lblMetPagField.prop('hidden', true);
                            MetodoPagamentoField.prop('disabled', true);
                            MetodoPagamentoField[0].selectedIndex = 0;
                        }
                        else {
                            $.ajax({
                                url: '@Url.Page("/Gestao/Movimentos/Create", "RandomNumber")',
                                data: { selectedValue: selectedValue },
                                type: 'GET',
                                success: function (data) {
                                    //console.log("Sucesso" data.valor);
                                        $.each(data, function (index, itemData) {
                                            console.log("Cá estou", itemData[0]);
                                        switch (itemData[0].tipoRubrica) {
                                                case 'P':
                                                    FaturaField.prop('disabled', false);
                                                    lblFaturaField.prop('hidden', false);
                                                    FaturaField.val('');
                                                    FaturaField.attr('placeholder', 'Mínimo 5 caracteres');
                                                    //Esconder e desativar campo Nota de Crédito
                                                    NotaCreditoField.prop('disabled', true);
                                                    lblNotCredField.prop('hidden', true);
                                                    NotaCreditoField.val('');
                                                    // Mostrar DIV do Metodo de Pagamento
                                                    lblMetPagField.prop('hidden', false);
                                                    MetodoPagamentoField.prop('disabled', false);
                                                    MetodoPagamentoField[0].selectedIndex = 0;
                                                    // habilitar Valor Movimento
                                                    ValorMovimentoField.prop('disabled', false);
                                                    ValorMovimentoField.val(0);
                                                    // habilitar Valor Desconto
                                                    ValorDescontoField.prop('disabled', true);
                                                    ValorDescontoField.val(0);
                                                    lblvalDescontoField.prop('hidden', false);
                                                    //Esconder e desativar campo Observações
                                                    ObservacoesField.prop('disabled', true);
                                                    ObservacoesField.val('');
                                                    lblObservacoesField.prop('hidden', true);

                                                    // Mostrar Atleta e reposicionar na primeira posição
                                                    lblAtletaField.prop('hidden', true);
                                                    AtletaMovimentoIdField.prop('disabled', true);
                                                    // As duas linhas abaixo fazem o mesmo, mas a segunda é mais simples
                                                    // Fonte: https://stackoverflow.com/questions/1414276/how-to-make-the-first-option-of-select-selected-with-jquery
                                                    //AtletaMovimentoIdField.val($("#target option:first").val());
                                                    AtletaMovimentoIdField[0].selectedIndex = 0;
                                                    break;
                                                case 'D':
                                                    FaturaField.prop('disabled', true);
                                                    lblFaturaField.prop('hidden', true);
                                                    FaturaField.val('');
                                                    //Mostrar e ativar campo Nota de Crédito
                                                    NotaCreditoField.prop('disabled', false);
                                                    lblNotCredField.prop('hidden', false);
                                                    NotaCreditoField.attr('placeholder', 'Mínimo 5 caracteres');

                                                    MetodoPagamentoField.prop('disabled', true);
                                                    lblMetPagField.prop('hidden', true);
                                                    MetodoPagamentoField[0].selectedIndex = 0;
                                                    
                                                    // habilitar Valor Movimento
                                                    ValorMovimentoField.prop('disabled', false);
                                                    ValorMovimentoField.val(0);
                                                    // habilitar Valor Desconto
                                                    ValorDescontoField.prop('disabled', true);
                                                    ValorDescontoField.val(0);

                                                    // preencher valor do desconto com zeros ( não era necessário, mas faz-se por uma questão de coerência a ler o código
                                                    //     e esconder campo
                                                    ValorDescontoField.val(0);
                                                    ValorDescontoField.prop('disabled', true);
                                                    lblvalDescontoField.prop('hidden', true);
    
                                                    //Esconder e desativar campo Observações
                                                    ObservacoesField.prop('disabled', true);
                                                    ObservacoesField.val('');
                                                    lblObservacoesField.prop('hidden', true);

                                                    // Esconder Atleta e reposicionar na primeira posição
                                                    lblAtletaField.prop('hidden', true);
                                                    AtletaMovimentoIdField.prop('disabled', true);
                                                    // As duas linhas abaixo fazem o mesmo, mas a segunda é mais simples
                                                    // Fonte: https://stackoverflow.com/questions/1414276/how-to-make-the-first-option-of-select-selected-with-jquery
                                                    //AtletaMovimentoIdField.val($("#target option:first").val());
                                                    AtletaMovimentoIdField[0].selectedIndex = 0;
                                                    break;
                                                case 'G':

                                                    //Esconder e desativar campo Fatura
                                                    FaturaField.prop('disabled', true);
                                                    lblFaturaField.prop('hidden', true);
                                                    FaturaField.val('');
                                                    //Esconder e desativar campo Nota de Crédito
                                                    NotaCreditoField.prop('disabled', true);
                                                    lblNotCredField.prop('hidden', true);
                                                    NotaCreditoField.val('');

                                                    //Esconder e desativar método de pagamento quando Rubrica é uma intenção de cobrança
                                                    MetodoPagamentoField.prop('disabled', true);
                                                    lblMetPagField.prop('hidden', true);
                                                    MetodoPagamentoField[0].selectedIndex = 0;

                                                    // preencher valor do movimento com valor unitário que provém do preçário
                                                    ValorMovimentoField.val(itemData[0].valor);
                                                    ValorMovimentoField.prop('disabled', true);

                                                    // preencher valor do desconto com zeros ( não era necessário, mas faz-se por uma questão de coerência a ler o código
                                                    //     e esconder campo
                                                    ValorDescontoField.val(0);
                                                    ValorDescontoField.prop('disabled', true);
                                                    lblvalDescontoField.prop('hidden', true);

                                                    //Esconder e desativar campo Observações
                                                    ObservacoesField.prop('disabled', true);
                                                    ObservacoesField.val('');
                                                    lblObservacoesField.prop('hidden', true);

                                                    // Mostrar Atleta e reposicionar na primeira posição
                                                    lblAtletaField.prop('hidden', false);
                                                    AtletaMovimentoIdField.prop('disabled', false);
                                                    // As duas linhas abaixo fazem o mesmo, mas a segunda é mais simples
                                                    // Fonte: https://stackoverflow.com/questions/1414276/how-to-make-the-first-option-of-select-selected-with-jquery
                                                    //AtletaMovimentoIdField.val($("#target option:first").val());
                                                    AtletaMovimentoIdField[0].selectedIndex = 0;
                                                break;
                                                case 'S':
                                                    
                                                   //Esconder e desativar campo Fatura
                                                    FaturaField.prop('disabled', true);
                                                    lblFaturaField.prop('hidden', true);
                                                    FaturaField.val('');
                                                    //Esconder e desativar campo Nota de Crédito
                                                    NotaCreditoField.prop('disabled', true);
                                                    lblNotCredField.prop('hidden', true);
                                                    NotaCreditoField.val('');

                                                    //Esconder e desativar método de pagamento quando Rubrica é uma intenção de cobrança
                                                    MetodoPagamentoField.prop('disabled', true);
                                                    lblMetPagField.prop('hidden', true);
                                                    MetodoPagamentoField[0].selectedIndex = 0;

                                                    // preencher valor do movimento com valor unitário que provém do preçário
                                                    ValorMovimentoField.val(itemData[0].valor);
                                                    ValorMovimentoField.prop('disabled', true);

                                                    // preencher valor do desconto com zeros ( não era necessário, mas faz-se por uma questão de coerência a ler o código
                                                    //     e esconder campo
                                                    ValorDescontoField.val(0);
                                                    ValorDescontoField.prop('disabled', true);
                                                    lblvalDescontoField.prop('hidden', true);

                                                    //Esconder e desativar campo Observações
                                                    ObservacoesField.prop('disabled', true);
                                                    ObservacoesField.val('');
                                                    lblObservacoesField.prop('hidden', true);

                                                    // Esconder Atleta e reposicionar na primeira posição
                                                    lblAtletaField.prop('hidden', false);
                                                    AtletaMovimentoIdField.prop('disabled', true);
                                                    // As duas linhas abaixo fazem o mesmo, mas a segunda é mais simples
                                                    // Fonte: https://stackoverflow.com/questions/1414276/how-to-make-the-first-option-of-select-selected-with-jquery
                                                    //AtletaMovimentoIdField.val($("#target option:first").val());
                                                    AtletaMovimentoIdField[0].selectedIndex = 0;

                                                break;
                                            case 'R':
                                                // Esconder número de fatura e inicializar o seu valor
                                                FaturaField.prop('disabled', true);
                                                lblFaturaField.prop('hidden', true);
                                                FaturaField.val('');
                                                // Esconder Nota de Crédito e inicializar o seu valor
                                                NotaCreditoField.prop('disabled', true);
                                                lblNotCredField.prop('hidden', true);
                                                NotaCreditoField.val('');

                                                // Esconder Método de Pagamento e inicializar o seu valor
                                                MetodoPagamentoField.prop('disabled', true);
                                                lblMetPagField.prop('hidden', true);
                                                MetodoPagamentoField[0].selectedIndex = 0;

                                                // habilitar Valor Movimento
                                                ValorMovimentoField.prop('disabled', false);
                                                ValorMovimentoField.val(0);

                                                // preencher valor do desconto com zeros ( não era necessário, mas faz-se por uma questão de coerência a ler o código
                                                //     e esconder campo
                                                ValorDescontoField.val(0);
                                                ValorDescontoField.prop('disabled', true);
                                                lblvalDescontoField.prop('hidden', true);

                                                //Esconder e desativar campo Observações
                                                ObservacoesField.prop('disabled', false);
                                                ObservacoesField.val('');
                                                lblObservacoesField.prop('hidden', false);

                                                // Esconder Atleta e reposicionar na primeira posição
                                                lblAtletaField.prop('hidden', true);
                                                AtletaMovimentoIdField.prop('disabled', true);
                                                // As duas linhas abaixo fazem o mesmo, mas a segunda é mais simples
                                                // Fonte: https://stackoverflow.com/questions/1414276/how-to-make-the-first-option-of-select-selected-with-jquery
                                                //AtletaMovimentoIdField.val($("#target option:first").val());
                                                AtletaMovimentoIdField[0].selectedIndex = 0;

                                            break;
                                                default:
                                                    alert("Pedimos desculpa, mas algo não correu como esperado.");
                                            }
                                        });
                                },
                                error: function (xhr, status, error) {
                                    console.log("Erro");

                                }
                            });
                    // Fim de ELSE do AJAX
                    }
                    });

                    // Função para alterações sobre o campo Classe
                    MetodoPagamentoField.on('change', function () {
                        var selectedValue = $(this).val();
                        $.ajax({
                            url: '@Url.Page("/Gestao/Movimentos/Create", "Desconto")',
                            data: { selectedValue: selectedValue },
                            type: 'GET',
                            success: function (data) {
                                //console.log("Sucesso" data.valor);
                                $.each(data, function (index, itemData) {
                                    console.log("Cá estou", itemData[0]);
                                    // preencher valor do desconto com zeros ( não era necessário, mas faz-se por uma questão de coerência a ler o código
                                    //     e esconder campo
                                    ValorDescontoField.val(itemData[0].desconto);
                                    if(itemData[0].desconto>0){
                                        ValorDescontoField.prop('disabled', false);
                                    }
                                    else{
                                        ValorDescontoField.prop('disabled', true);
                                    }
                                });
                            },
                            error: function (xhr, status, error) {
                                console.log("Erro");

                            }
                        });
                });
                });
                                        // Protege ou desprotege campos com base no valor do ClasseId
            </script>
            <div id="lblFatura" class="form-group">
                <label asp-for="Movimento.NumFatura" class="control-label"></label>
                <input asp-for="Movimento.NumFatura" class="form-control" disabled />
                <span asp-validation-for="Movimento.NumFatura" class="text-danger"></span>
            </div>
            <div id="lblNotaCred" class="form-group">
                <label asp-for="Movimento.NumNotaCredito" class="control-label"></label>
                <input asp-for="Movimento.NumNotaCredito" class="form-control" disabled />
                <span asp-validation-for="Movimento.NumNotaCredito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.DtMovimento" class="control-label"></label>
                <input asp-for="Movimento.DtMovimento" class="form-control" />
                <span asp-validation-for="Movimento.DtMovimento" class="text-danger"></span>
            </div>
            <div id="lblMetodo" class="form-group" hidden>
                <label asp-for="Movimento.MetodoPagamentoId" class="control-label" >Método de Pagamento</label>
                <select asp-for="Movimento.MetodoPagamentoId" class="form-control" asp-items="ViewBag.MetodoPagamentoId" disabled ></select>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.ValorMovimento" class="control-label"></label>
                <input type="number" asp-for="Movimento.ValorMovimento" class="form-control" value=0 disabled onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" />
                <span asp-validation-for="Movimento.ValorMovimento" class="text-danger"></span>
            </div>
            <div id="lblvalDesconto" class="form-group">
                <label asp-for="Movimento.ValorDesconto" class="control-label"></label>
                <input type="number" asp-for="Movimento.ValorDesconto" class="form-control" value=0 disabled onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" />
                <span asp-validation-for="Movimento.ValorDesconto" class="text-danger"></span>
            </div>
            <div id="lblObservacoes" class="form-group">
                <label asp-for="Movimento.Observacoes" class="control-label"></label>
                <input asp-for="Movimento.Observacoes" class="form-control" disabled />
                <span asp-validation-for="Movimento.Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.UtilizadorId" class="control-label"></label>
                <select asp-for="Movimento.UtilizadorId" class ="form-control" asp-items="ViewBag.UtilizadorId"></select>
            </div>
            <div id="lblAtleta" class="form-group">
                <label asp-for="Movimento.AtletaMovimentoId" class="control-label">Ginasta</label>
                <select asp-for="Movimento.AtletaMovimentoId" class ="form-control" asp-items="ViewBag.AtletaMovimentoId" disabled></select>
                @Html.ValidationMessageFor(model => model.Movimento.AtletaMovimentoId, null, new { @class = "validation-error" })
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
