@page
@model AppGCT.Pages.Gestao.Movimentos.DeleteModel

@{
    ViewData["Title"] = "Apagar Movimento";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Apagar Movimento</h1>

<h3>Pretende mesmo apagar o Movimento?</h3>
<hr />
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Movimentos/Index'>Voltar</a>
</div>
<br>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.DesRubrica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.DesRubrica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.DtMovimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.DtMovimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.ValorMovimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.ValorMovimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.ValorDesconto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.ValorDesconto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.NumFatura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.NumFatura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.NumNotaCredito)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.NumNotaCredito)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.Socio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.Socio.ID_Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.Atleta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.Atleta.ID_DescrGinasta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.TipoDespesa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.TipoDespesa.CodRubrica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.FormaPagamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.FormaPagamento.CodMetodo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.IdCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.IdCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.DataModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.DataModificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.IdModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.IdModificacao)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Movimento.Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
    </form>
</div>
