@page
@model AppGCT.Pages.Gestao.Movimentos.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalhes Movimento</h1>

<hr />
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Movimentos/Index'>Voltar</a>
</div>
<br>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.DesRubrica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.DesRubrica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.DtMovimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.DtMovimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.ValorMovimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.ValorMovimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.ValorDesconto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.ValorDesconto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.NumFatura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.NumFatura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.NumNotaCredito)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.NumNotaCredito)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.IdCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.IdCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.DataModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.DataModificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.IdModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.IdModificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.Socio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.Socio.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.Atleta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.Atleta.EstadoGinasta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.TipoDespesa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.TipoDespesa.CodRubrica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movimento.FormaPagamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movimento.FormaPagamento.CodMetodo)
        </dd>
    </dl>
</div>
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Movimentos/Edit' asp-route-id='@Model.Movimento?.Id'>Editar</a>
</div>
