@page
@model AppGCT.Pages.Gestao.Movimentos.IndexModel

@{
    ViewData["Title"] = "Movimentos Conta Corrente";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="wrapper1">
    <div>
        <h1>Movimentos Conta Corrente</h1>
    </div>
    @*
    Mostrar Saldo ao Sócio
    *@
    @if (User.IsInRole("Sócio"))
    {
        @if (@ViewBag.SaldoSocioVB < 0)
        {
            <div class="badge rounded-pill bg-danger d-inline-flex align-items-center justify-content-center" style="width: 7rem;">
                Saldo: @ViewBag.SaldoSocioVB€
            </div>
        }
        else
        {
            <div class="badge rounded-pill bg-success d-inline-flex align-items-center justify-content-center" style="width: 7rem;">
                Saldo: @ViewBag.SaldoSocioVB€
            </div>
        }
    }
    @*
    Mostrar Saldo ao Administrador e Ginásio
    *@
    @if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
    {
    @*
    Se Saldo não está preenchido é porque não é para mostrar (ou seja, não foi submetido nenhum filtro por sócio)
    *@
        @if (@ViewBag.SaldoAdminGinVB != 9999999)
        {
            @if (@ViewBag.SaldoAdminGinVB < 0)
            {
                <div class="badge rounded-pill bg-danger d-inline-flex align-items-center justify-content-center" style="width: 7rem;">
                    Saldo: @ViewBag.SaldoAdminGinVB€
                </div>
            }
            else
            {
                <div class="badge rounded-pill bg-success d-inline-flex align-items-center justify-content-center" style="width: 7rem;">
                    Saldo: @ViewBag.SaldoAdminGinVB€
                </div>
            }
        }
    }
</div>

@if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
{
<div>

    <a class='btn btn-success btn-sm' asp-area='' asp-page='/Gestao/Movimentos/Create'>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
        </svg> Novo movimento
    </a>

</div>
}


<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            @if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
            {
                <div class="form-group d-inline-block">
                    <select asp-for="IdSocio" class="form-control" asp-items="@Model.SociosList"></select>
                </div>
            }
            <div class="form-group d-inline-block">
                <select asp-for="IdGinasta" class="form-control" asp-items="@Model.GinastasList"></select>
            </div>
            <div class="form-group d-inline-block">
                <input type="date" class="form-control" name="SearchString" value="@Model.CurrentFilter" />
            </div>
            <div class="form-group d-inline-block">
                <input type="date" class="form-control" name="SearchStringFim" value="@Model.CurrentFilterFim" />
            </div>
            <button class="btn btn-success btn-sm" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg> Procurar
            </button>
            <a class="btn btn-success btn-sm" asp-area="" asp-page="/Gestao/Movimentos/Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z" />
                </svg> Limpar
            </a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th class="top">
                Dt. Movim.
            </th>
            <th class="top">
                @Html.DisplayNameFor(model => model.Movimento[0].ValorMovimento)
            </th>
            <th class="top">
                @Html.DisplayNameFor(model => model.Movimento[0].ValorDesconto)
            </th>
            <th class="top">
                @Html.DisplayNameFor(model => model.Movimento[0].MSaldo)
            </th>
            <th class="top">
                @Html.DisplayNameFor(model => model.Movimento[0].DesRubrica)
            </th>
            <th class="top">
                Sócio
            </th>
            <th class="top">
                @Html.DisplayNameFor(model => model.Movimento[0].Atleta)
            </th>
            <th class="top">
                Mét. Pagam.
            </th>
            <th class="top"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movimento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DtMovimento)
            </td>
                @if (   item.TipoDespesa.TipoRubrica == "S" 
                     || item.TipoDespesa.TipoRubrica == "G"
                     || ( item.TipoDespesa.TipoRubrica == "R" && item.TipoDespesa.TipoMovimento == "D" ) )
                {

                    <td >
                        @{
                            var valorMov = item.ValorMovimento * -1;
                        }
                        <p class="valoresCSS">
                        <span class="badge bg-bg-light text-dark d-inline-flex align-items-center justify-content-end" style="width: 6rem;">
                            @Html.DisplayFor(modelItem => valorMov)€
                        </span>
                        </p>
                    </td>
                }
                else
                {
                    @if (  item.TipoDespesa.TipoRubrica == "D"
                        || item.TipoDespesa.TipoRubrica == "P"
                        || (item.TipoDespesa.TipoRubrica == "R" && item.TipoDespesa.TipoMovimento == "C"))
                    {
                        <td  >
                            @{
                                var valorMov = item.ValorMovimento;
                            }
                            <p class="valoresCSS">
                                <span class="badge bg-success d-inline-flex align-items-center justify-content-end" style="width: 6rem;">
                                    @Html.DisplayFor(modelItem => valorMov)€
                                </span>
                            </p>
                        </td>
                    }
                    else
                    {
                        <td>
                            Desconhecido-Contact.Inform.
                        </td>
                    }
                }
            <td>
                @{
                    var valorDesc = item.ValorDesconto;
                }
                    @{
                        if (valorDesc > 0)
                        {
                            <p class="valoresCSS">
                                <span class="badge bg-success d-inline-flex align-items-center justify-content-end" style="width: 6rem;">
                                    @Html.DisplayFor(modelItem => valorDesc)€
                                </span>
                            </p>
                        }
                        else
                        {
                            <p class="valoresCSS">
                                <span class="badge bg-bg-light text-dark d-inline-flex align-items-center justify-content-end" style="width: 6rem;">
                                    @Html.DisplayFor(modelItem => valorDesc)€
                                </span>
                            </p>
                        }
                    }
            </td>
                <td>
                    @{
                        var saldo = item.MSaldo;
                    }
                    <p class="valoresCSS">
                        <span class="badge bg-bg-light text-dark d-inline-flex align-items-center justify-content-end" style="width: 6rem;">
                            @Html.DisplayFor(modelItem => saldo)€
                        </span>
                    </p>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesRubrica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socio.ID_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atleta.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento.DescMetodo)
            </td>
            <td>
                @if (User.IsInRole("Administrador"))
                {
                    <a title="Editar"  class='btn btn-success btn-sm' asp-area='' asp-page='/Gestao/Movimentos/Edit' asp-route-id='@item.Id'>
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                         </svg>
                    </a>
                }
                <a title="Detalhes" class='btn btn-success btn-sm' asp-area='' asp-page='/Gestao/Movimentos/Details' asp-route-id='@item.Id'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                         <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                         <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                    </svg>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
