@page
@model AppGCT.Pages.Inscricoes.PlanoMensalidades.IndexModel

@{
    ViewData["Title"] = "Plano Mensalidades";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Plano Mensalidades</h1>
@if (User.IsInRole("Administrador"))
{
<p>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/PlanoMensalidades/Create'>Criar Plano</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanoMensalidade[0].DataMensalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanoMensalidade[0].ValorMensalidade)
            </th>
            <th>
                Época
            </th>
            <th>
                Ginasta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PlanoMensalidade) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataMensalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMensalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Epoca.NomeEpoca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.ID_DescrGinasta)
            </td>
            <td>
                <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/PlanoMensalidades/Edit' asp-route-id='@item.IdPlanoM'>Editar</a>
                <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/PlanoMensalidades/Details' asp-route-id='@item.IdPlanoM'>Detalhes</a>
                <a class='btn btn-danger btn-sm' asp-area='' asp-page='/Gestao/PlanoMensalidades/Delete' asp-route-id='@item.IdPlanoM'>Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
