@page
@model AppGCT.Pages.Inscricoes.InscricaoEpoca.CreateModel
@Html.HiddenFor(m => m.Inscricao.IdCriacao)
@Html.HiddenFor(m => m.Inscricao.DataCriacao)
@Html.HiddenFor(m => m.Inscricao.IdModificacao)
@Html.HiddenFor(m => m.Inscricao.DataModificacao)
@Html.HiddenFor(m => m.Inscricao.IdadeAgosto)
@Html.HiddenFor(m => m.Inscricao.IConsentimento)
@Html.HiddenFor(m => m.Inscricao.DtConsentimento)
@Html.HiddenFor(m => m.Inscricao.ILeituraObrig)
@Html.HiddenFor(m => m.Inscricao.IExamMed)
@Html.HiddenFor(m => m.Inscricao.DtExamMed)
@Html.HiddenFor(m => m.Inscricao.IFicFGP)
@Html.HiddenFor(m => m.Inscricao.DtFicFGP)
@Html.HiddenFor(m => m.Inscricao.ISeguro)
@Html.HiddenFor(m => m.Inscricao.IPagamInscricao)

@{
    ViewData["Title"] = "Criar Inscrição";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    .validation-error {
        color: red;
    }
</style>

<h1>Criar Inscrição</h1>

<hr />
<div>
    <a title="Voltar" class='btn btn-success' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Index' asp-route-id='@ViewBag.BackId'>
        <span class="btn-svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </span>
    </a>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Inscricao.Atleta.Id" class="control-label"></label>
                <select asp-for="Inscricao.GinastaId" class="form-control" asp-items="ViewBag.GinastaId"></select>
                @Html.ValidationMessageFor(model => model.Inscricao.GinastaId, null, new { @class = "validation-error" })
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.Periodo.NomeEpoca" class="control-label"></label>
                <select asp-for="Inscricao.EpocaId" class="form-control" asp-items="ViewBag.EpocaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.Class.NomeClasse" class="control-label"></label>
                <select asp-for="Inscricao.ClasseId" class="form-control" asp-items="ViewBag.ClasseId"></select>
            </div>
            @if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
            {
                <div class="form-group">
                    <label asp-for="Inscricao.Descont.CodDesconto" class="control-label"></label>
                    <select asp-for="Inscricao.CodDesconto" class="form-control" asp-items="ViewBag.CodDesconto"></select>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Inscricao.CodDesconto" />
            }
            <div class="form-group">
                <label asp-for="Inscricao.ISocGinasta" class="control-label">Sócio-Ginasta?</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.ISocGinasta" class="form-check-input" value="S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.ISocGinasta" class="form-check-input" value="N" checked />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Inscricao.ISocGinasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.DtInscricao" class="control-label"></label>
                <input asp-for="Inscricao.DtInscricao" class="form-control" />
                <span asp-validation-for="Inscricao.DtInscricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.IConsentimento" class="control-label">Consentimento de Dados</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IConsentimento" class="form-check-input" value="S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IConsentimento" class="form-check-input" value="N" checked />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Inscricao.IConsentimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.DtConsentimento" class="control-label"></label>
                <input asp-for="Inscricao.DtConsentimento" class="form-control" />
                <span asp-validation-for="Inscricao.DtConsentimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.IFotos" class="control-label">Claro que AUTORIZO / NÃO AUTORIZO (seleccionar o que interessa), o meu educando a ser fotografado e filmado em contexto desportivo ou atividades lúdicas, promovidas pelo Ginásio Clube de Tomar. Tomo conhecimento de que a imagem recolhida pode servir para documentação interna do GCT e para divulgação nos jornais, redes socias e outros fins publicitários.</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IFotos" class="form-check-input" value="S" />
                        Autorizo
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IFotos" class="form-check-input" value="N" checked />
                        Não autorizo
                    </label>
                </div>
                <span asp-validation-for="Inscricao.IFotos" class="text-danger"></span>
            </div>
            <div>
                <label>O ginasta tem alguma alergia a:</label>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.IIbuprofeno" class="control-label">Ibuprofeno?</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IIbuprofeno" class="form-check-input" value="S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IIbuprofeno" class="form-check-input" value="N" checked />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Inscricao.IIbuprofeno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.IParacetamol" class="control-label">Paracetamol?</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IParacetamol" class="form-check-input" value="S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IParacetamol" class="form-check-input" value="N" checked />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Inscricao.IParacetamol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.IAntiInflam" class="control-label">Autoriza em casos pontuais, a toma de analgésico/anti-inflamatório, em caso de hematoma com dor latente durante treino?</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IAntiInflam" class="form-check-input" value="S" />
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Inscricao.IAntiInflam" class="form-check-input" value="N" checked />
                        Não
                    </label>
                </div>
                <span asp-validation-for="Inscricao.IAntiInflam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.DescAlergias" class="control-label">O ginasta tem alguma alergia ou condição de saúde relevante?</label>
                <input asp-for="Inscricao.DescAlergias" class="form-control" />
                <span asp-validation-for="Inscricao.DescAlergias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
