@page
@model AppGCT.Pages.Inscricoes.InscricaoEpoca.DeleteModel

@{
    ViewData["Title"] = "Remover Inscrição";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Apagar Inscrição</h1>

<h3>Pretende mesmo apagar a Inscrição?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.Atleta.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.Atleta.ID_DescrGinasta)
        </dd>
        <dt class="col-sm-2">
            Época
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.Periodo.NomeEpoca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.Class.NomeClasse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.Class.NomeClasse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.Descont.CodDesconto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.Descont.DescDesconto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.IdFGP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.IdFGP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.ISocGinasta)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Inscricao.ISocGinasta, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Inscricao.ISocGinasta, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.DtInscricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.DtInscricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.IdadeAgosto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.IdadeAgosto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.IConsentimento)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Inscricao.IConsentimento, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Inscricao.IConsentimento, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.DtConsentimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.DtConsentimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.IExamMed)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Inscricao.IExamMed, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Inscricao.IExamMed, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.DtExamMed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.DtExamMed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.IFicFGP)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Inscricao.IFicFGP, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Inscricao.IFicFGP, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.DtFicFGP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.DtFicFGP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.ISeguro)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Inscricao.ISeguro, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Inscricao.ISeguro, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.IPagamInscricao)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Inscricao.IPagamInscricao, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Inscricao.IPagamInscricao, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.ILeituraObrig)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Inscricao.ILeituraObrig, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Inscricao.ILeituraObrig, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.IFotos)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Inscricao.IFotos, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Inscricao.IFotos, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            O ginasta tem alguma alergia a:
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.IIbuprofeno)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Inscricao.IIbuprofeno, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Inscricao.IIbuprofeno, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.IParacetamol)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Inscricao.IParacetamol, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Inscricao.IParacetamol, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.IAntiInflam)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Inscricao.IAntiInflam, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Inscricao.IAntiInflam, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.DescAlergias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.DescAlergias)
        </dd>
        @if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Inscricao.DataCriacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Inscricao.DataCriacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Inscricao.IdCriacao)
            </dt>
            <dd class="col-sm-10">
                @Model.IdCriacaoName
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Inscricao.DataModificacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Inscricao.DataModificacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Inscricao.IdModificacao)
            </dt>
            <dd class="col-sm-10">
                @Model.IdModificacaoName
            </dd>
        }
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Inscricao.Id" />
        <input type="submit" value="Apagar" class="btn btn-danger btn-sm" />
        <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Index' asp-route-id='@Model.Inscricao.Atleta.Id'>Voltar</a>
    </form>
</div>
