@page
@model AppGCT.Pages.Inscricoes.InscricaoEpoca.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Apagar Inscrição</h1>

<h3>Pretende mesmo apagar a Inscrição??</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.IdFGP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.IdFGP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.ISocGinasta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.ISocGinasta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.Atleta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.Atleta.ID_DescrGinasta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.Periodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.Periodo.NomeEpoca)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Inscricao.Id" />
        <input type="submit" value="Apagar" class="btn btn-danger btn-sm" /> |
        <a class='btn btn-primary btn-sm' href='/Inscricoes/InscricaoEpoca/Index?id=@Model.Inscricao.Atleta.Id'>Voltar</a>
    </form>
</div>
