@page
@model AppGCT.Pages.Inscricoes.InscricaoEpoca.IndexModel

@{
    ViewData["Title"] = "Inscrições Ginastas";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Gestão das Inscrições de Ginastas em Épocas Desportivas</h1>

<div>
    <hr />
    <h4>Detalhe do Ginasta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NomeCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.DtNascim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.DtNascim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.EstadoGinasta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.StatusDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.Email)
        </dd>
        <dt class="col-sm-2">
            Sócio Associado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.Socio.ID_Description)
        </dd>
    </dl>
</div>
<div>
    <a title="Voltar" class='btn btn-success btn-sm' asp-area='' asp-page='/Inscricoes/Ginastas/Index'>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
    </a>
    <a class='btn btn-success btn-sm' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Create' asp-route-id='@Model.Ginasta.Id'>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z" />
        </svg> Nova Inscrição
    </a>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th class="top">
                @Html.DisplayNameFor(model => model.Inscricao[0].IdFGP)
            </th>
            <th class="top">
                @Html.DisplayNameFor(model => model.Inscricao[0].ISocGinasta)
            </th>
            <th class="top">
                @Html.DisplayNameFor(model => model.Inscricao[0].DtInscricao)
            </th>
            <th class="top">
                @Html.DisplayNameFor(model => model.Inscricao[0].IExamMed)
            </th>
            <th class="top">
                @Html.DisplayNameFor(model => model.Inscricao[0].DtExamMed)
            </th>
            <th class="top">
                @Html.DisplayNameFor(model => model.Inscricao[0].IPagamInscricao)
            </th>
            <th class="top">
                @Html.DisplayNameFor(model => model.Inscricao[0].Periodo.NomeEpoca)
            </th>
            <th class="top">
                @Html.DisplayNameFor(model => model.Inscricao[0].Class.NomeClasse)
            </th>
            <th class="top">
                Desconto
            </th>
            <th class="top"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inscricao) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFGP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoISocGinasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoIExamMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtExamMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoIPagamInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo.NomeEpoca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.NomeClasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descont.DescDesconto)
            </td>
            <td>
                     <a title="Editar" class='btn btn-success btn-sm' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Edit' asp-route-id='@item.Id'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </a>
                    
                    <a title="Detalhes" class='btn btn-success btn-sm' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Details' asp-route-id='@item.Id'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                        </svg>
                    </a>
            @if (User.IsInRole("Administrador123"))
            {
                    <a title="Apagar" class='btn btn-danger  btn-sm' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Delete' asp-route-id='@item.Id'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                            </svg>
                    </a>
            }
                    <a title="Plano Mensalidades" class='btn btn-success btn-sm' asp-area='' asp-page='/Gestao/PlanoMensalidades/Index' asp-route-idGinasta='@item.GinastaId' asp-route-idEpoca='@item.EpocaId' asp-route-IInscricao='S'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                            <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                            <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                            <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                        </svg>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
