@page
@model AppGCT.Pages.Inscricoes.InscricaoEpoca.IndexModel

@{
    ViewData["Title"] = "Inscrições Ginastas";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Gestão das Inscrições de Ginastas em Épocas Desportivas</h1>

<div>
    <hr />
    <h4>Detalhe do Ginasta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NomeCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.DtNascim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.DtNascim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.EstadoGinasta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.StatusDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.Socio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.Socio.ID_Description)
        </dd>
    </dl>
</div>
<div>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Create' asp-route-id='@Model.Ginasta.Id'>Nova Inscrição</a>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/Ginastas/Index'>Voltar</a>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].IdFGP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].ISocGinasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].DtInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].IExamMed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].DtExamMed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].IPagamInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].Periodo.NomeEpoca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].Class.NomeClasse)
            </th>
            <th>
                Desconto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inscricao) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFGP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoISocGinasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoIExamMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtExamMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoIPagamInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo.NomeEpoca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.NomeClasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descont.DescDesconto)
            </td>
            <td>
                    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Edit' asp-route-id='@item.Id'>Editar</a>
                    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Details' asp-route-id='@item.Id'>Detalhes</a>
            @if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
            {
                    <a class='btn btn-danger  btn-sm' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Delete' asp-route-id='@item.Id'>Apagar</a>
            }
                    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/PlanoMensalidades/Index' asp-route-idGinasta='@item.GinastaId' asp-route-idEpoca='@item.EpocaId'>Plano Mensalidades</a>
            </td>
        </tr>
}
    </tbody>
</table>
