@page
@model AppGCT.Pages.Inscricoes.InscricaoEpoca.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<h1>Details</h1>

<div>
    <h4>Ginasta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NomeCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.ISexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.ISexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.Socio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.Socio.NumSocio)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].IdFGP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].ISocGinasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].Atleta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inscricao) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFGP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISocGinasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atleta.ISexo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
