@page
@model AppGCT.Pages.Gestao.Descontos.DetailsModel

@{
    ViewData["Title"] = "Detalhes Desconto";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalhes Desconto</h1>

<hr />
<div>
    <a class='btn btn-primary btn-sm' href='/Gestao/Descontos/Index'>Voltar</a>
</div>
<br>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto.DescDesconto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desconto.DescDesconto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto.EstadoDesconto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desconto.StatusDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desconto.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto.IdCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desconto.IdCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto.DataModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desconto.DataModificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto.IdModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desconto.IdModificacao)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary btn-sm" href="/Gestao/Descontos/Edit?id=@Model.Desconto?.CodDesconto">Editar</a>
</div>
