@page
@model AppGCT.Pages.Gestao.Descontos.IndexModel

@{
    ViewData["Title"] = "Gestão Descontos";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Gestão Descontos</h1>

<p>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Descontos/Create'>Novo Desconto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Desconto[0].CodDesconto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desconto[0].DescDesconto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desconto[0].EstadoDesconto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Desconto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodDesconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescDesconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusDescription)
            </td>
            <td>
                    <a class="btn btn-primary btn-sm" asp-area='' asp-page="/Gestao/Descontos/Edit?id=@item.CodDesconto">Editar</a>
                    <a class="btn btn-primary btn-sm" asp-area='' asp-page="/Gestao/Descontos/Details?id=@item.CodDesconto">Detalhes</a>
                    <a class="btn btn-danger btn-sm" asp-area='' asp-page="/Gestao/Descontos/Delete?id=@item.CodDesconto">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
