@page
@model AppGCT.Pages.Utilizadores.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Utilizador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.EstadoUtilizador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.EstadoUtilizador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.NIF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.NIF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.Morada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Morada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.PrefixoTelemovel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.PrefixoTelemovel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.NumTelemovel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.NumTelemovel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.DataNascim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.DataNascim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.DataAprovacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.DataAprovacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.UltimoLogin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.UltimoLogin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.HtimestCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.HtimestCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.IdCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.IdCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.DataModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.DataModificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.HtimestModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.HtimestModificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador.IdModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.IdModificacao)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Utilizador.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
