@page
@model AppGCT.Pages.Utilizadores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class='btn btn-primary btn-sm' href='Utilizadores/Create'>Novo Utilizador</a>
    <a asp-page="Create">Novo Utilizador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].EstadoUtilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].PrefixoTelemovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].NumTelemovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].DataNascim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].DataAprovacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].UltimoLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].HtimestCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].IdCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].DataModificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].HtimestModificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador[0].IdModificacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Utilizador) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrefixoTelemovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTelemovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAprovacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimoLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HtimestCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataModificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HtimestModificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdModificacao)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
