@page
@model AppGCT.Pages.Gestao.Classes.DetailsModel

@{
    ViewData["Title"] = "Detalhes Classe";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalhes Classe</h1>

<hr />
<div>
    <a class='btn btn-success' asp-area='' asp-page='/Gestao/Classes/Index'>
        <span class="btn-svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </span>
    </a>
</div>
<br>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classe.NomeClasse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classe.NomeClasse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classe.EstadoClasse)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Classe.EstadoClasse, "A", new { @disabled = "disabled" }) Ativa
            @Html.RadioButtonFor(model => model.Classe.EstadoClasse, "I", new { @disabled = "disabled" }) Inativa
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classe.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classe.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classe.IdCriacao)
        </dt>
        <dd class="col-sm-10">
            @Model.IdCriacaoName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classe.DataModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classe.DataModificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classe.IdModificacao)
        </dt>
        <dd class="col-sm-10">
            @Model.IdModificacaoName
        </dd>
    </dl>
</div>
<div>
    <a class='btn btn-success' asp-area='' asp-page='/Gestao/Classes/Edit' asp-route-id='@Model.Classe?.IdClasse'>Editar</a>
</div>
