@page
@model AppGCT.Pages.Gestao.Utilizadores.DetailsModel
@{
}
@{
    ViewData["Title"] = "Detalhes Utilizador";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@using AppGCT.Areas.Identity.Data
@using AppGCT.Pages.Gestao.Utilizadores
@inject UserManager<Utilizador> UserManager
@inject RoleManager<IdentityRole> roleManager

<h1>Detalhes Utilizador</h1>

<hr />
<div>
    <a class='btn btn-success' asp-area='' asp-page='/Gestao/Utilizadores/Index'>
        <span class="btn-svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </span>
    </a>
</div>
<br>
<div>
    @if (Model.User != null)
    {
        <dl class="row">
            <dt class="col-sm-2">
                Tipo Utilizador
            </dt>
            <dd class="col-sm-10">
                @Model.Role.Name
            </dd>
            <dt class="col-sm-2">
                Nome Completo
            </dt>
            <dd class="col-sm-10">
                @Model.User.Nome
            </dd>
            <dt class="col-sm-2">
                Estado Utilizador
            </dt>
            <dd class="col-sm-10">
                @Model.User.StatusDescription
            </dd>
            @if(Model.Role.Name.Equals("Sócio"))
            {
                <dt class="col-sm-2">
                    Nº Sócio
                </dt>
                <dd class="col-sm-10">
                    @Model.User.NumSocio
                </dd>
            }
            <dt class="col-sm-2">
                Nº Identificação Fiscal (NIF)
            </dt>
            <dd class="col-sm-10">
                @Model.User.NIF
            </dd>
            <dt class="col-sm-2">
                Data Nascimento
            </dt>
            <dd class="col-sm-10">
                @Model.User.DataNascim.ToString("yyyy-MM-dd")
            </dd>
            <dt class="col-sm-2">
                Morada
            </dt>
            <dd class="col-sm-10">
                @Model.User.Morada
            </dd>
            <dt class="col-sm-2">
                Contacto Telefónico
            </dt>
            <dd class="col-sm-10">
                @Model.User.PhoneNumber
            </dd>
            <dt class="col-sm-2">
                E-mail
            </dt>
            <dd class="col-sm-10">
                @Model.User.Email
            </dd>
            @if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
            {
                <dt class="col-sm-2">
                    Data de Criação
                </dt>
                <dd class="col-sm-10">
                    @Model.User.DataCriacao
                </dd>
                <dt class="col-sm-2">
                    Criado por
                </dt>
                <dd class="col-sm-10">
                    @Model.IdCriacaoName
                </dd>
                <dt class="col-sm-2">
                    Data de Modificação
                </dt>
                <dd class="col-sm-10">
                    @Model.User.DataModificacao
                </dd>
                <dt class="col-sm-2">
                    Modificado por
                </dt>
                <dd class="col-sm-10">
                    @Model.IdModificacaoName
                </dd>
            }
        </dl>
    }
    else
    {
        <p>Utilizador Inexistente</p>
    }
</div>
<div>
    <a class='btn btn-success' asp-area='' asp-page='/Gestao/Utilizadores/Edit' asp-route-id='@Model.User?.Id'>Editar</a>
</div>