@page
@model AppGCT.Pages.Gestao.Utilizadores.IndexModel
@{

}
@{
    ViewData["Title"] = "Gestão Utilizadores";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@using AppGCT.Areas.Identity.Data
@inject UserManager<Utilizador> UserManager
@inject RoleManager<IdentityRole> roleManager

<h1>Gestão Utilizadores</h1>

<p>
    <a class='btn btn-outline-primary btn-sm' asp-area='' asp-page='/Gestao/Utilizadores/Create'>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
        </svg> Novo Utilizador
    </a>
</p>
<form asp-page="./Index" method="get">
   Pesquisa
   <input type="text" name="SearchString" value="@Model.CurrentFilter" />
   <input type="submit" value="Procurar" class="btn btn-primary btn-sm">
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
       <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
   </svg>
   <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Utilizadores/Index'>Limpar</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NomeCompletoSort">
                    Nome Completo
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TipoUtilizadorSort">
                    Tipo Utilizador
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NumSocioSort">
                    Nº Sócio
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EstadoUtilizadorSort">
                    Estado Utilizador
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ContactoSort">
                    Contacto
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EmailSort">
                    E-mail
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Nome)
                </td>
                <td>
                    @foreach (var roleName in await UserManager.GetRolesAsync(user))
                    {
                        <span>@roleName</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.NumSocio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.StatusDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Utilizadores/Edit' asp-route-id='@user.Id'>Editar</a>
                    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/Utilizadores/Details' asp-route-id='@user.Id'>Detalhes</a>
                    @{
                        @if (User.IsInRole("Administrador"))
                        {
                            if (!user.Email.Equals("admin@localhost")) // NÃO MOSTRA BOTÃO APAGAR PARA O USER DE ADMINISTRAÇÃO
                            {
                                <a class='btn btn-danger btn-sm' asp-area='' asp-page='/Gestao/Utilizadores/Delete' asp-route-id='@user.Id'>Apagar</a>
                            }
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>