@page
@model AppGCT.Pages.Inscricoes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].ISexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].DtNascim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].IdadeAgosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].EstadoGinasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].NumCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].NISS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].CodPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].Localidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].IBolsa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].IIrmaos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].NomeIrmaos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].NomeEE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].NIFEE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].prefixoTelemEE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].numTelemovelEE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].IGrauEE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].EmailEE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].NomeEmerEE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].GrauEmerEE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].PrefixoTlmEmerEE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].NumTlmEmerEE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].EmailTlmEmerEE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].IdCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].DataModificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].IdModificacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ginasta) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtNascim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdadeAgosto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoGinasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NISS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IBolsa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IIrmaos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeIrmaos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIFEE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prefixoTelemEE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numTelemovelEE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IGrauEE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailEE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmerEE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrauEmerEE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrefixoTlmEmerEE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTlmEmerEE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailTlmEmerEE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataModificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdModificacao)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdGinasta">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdGinasta">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdGinasta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
