@page
@model AppGCT.Pages.Inscricoes.Ginastas.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>Pretende mesmo apagar o Ginasta?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NomeCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.DtNascim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.DtNascim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.EstadoGinasta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.EstadoGinasta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.Socio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.Socio.NumSocio)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Ginasta.Id" />
        <input type="submit" value="Apagar" class="btn btn-danger btn-sm" />
        <a class='btn btn-primary btn-sm' href='/Inscricoes/Ginastas/Index'>Voltar</a>
    </form>
</div>
