@page
@model AppGCT.Pages.Inscricoes.Ginastas.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="Details.css">
</head>

<h1>Detalhes do Ginasta</h1>

<div>
    <hr />
    <div>
        <a class='btn btn-primary btn-sm' href='/Inscricoes/Ginastas/Index'>Voltar</a>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.Foto)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Ginasta.Foto != null)
            {
                <img class="photo" src="data:image/png;base64,@Convert.ToBase64String(Model.Ginasta.Foto)" alt="Ginasta Foto" />
            }
            else
            {
                <p>Sem Fotografia</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NomeCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.ISexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.ISexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.DtNascim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.DtNascim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.IdadeAgosto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.IdadeAgosto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.EstadoGinasta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.EstadoGinasta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NumCC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NumCC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NIF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NIF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NISS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NISS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.Morada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.Morada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.CodPostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.CodPostal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.Localidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.Localidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.IBolsa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.IBolsa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.IIrmaos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.IIrmaos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NomeIrmaos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NomeIrmaos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NomeEE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NomeEE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NIFEE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NIFEE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.prefixoTelemEE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.prefixoTelemEE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.numTelemovelEE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.numTelemovelEE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.IGrauEE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.IGrauEE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.EmailEE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.EmailEE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NomeEmerEE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NomeEmerEE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.GrauEmerEE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.GrauEmerEE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.PrefixoTlmEmerEE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.PrefixoTlmEmerEE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.NumTlmEmerEE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.NumTlmEmerEE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.EmailTlmEmerEE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.EmailTlmEmerEE)
        </dd>
        @if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ginasta.DataCriacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ginasta.DataCriacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ginasta.IdCriacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ginasta.IdCriacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ginasta.DataModificacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ginasta.DataModificacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ginasta.IdModificacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ginasta.IdModificacao)
        </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ginasta.Socio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ginasta.Socio.ID_Description)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary btn-sm" href="/Inscricoes/Ginastas/Edit?id=@Model.Ginasta?.Id">Editar</a>
</div>
