@page
@model AppGCT.Pages.Inscricoes.Ginastas.IndexModel

@{
    ViewData["Title"] = "Gestão Ginastas";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Gestão Ginastas</h1>
<hr />
<p>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/Ginastas/Create'>Novo Ginasta</a>
</p>
@if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
{
    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                Nome Completo/Nome Sócio
                <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                <input type="submit" value="Procurar" class="btn btn-primary btn-sm" />
                <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/Ginastas/Index'>Limpar</a>
            </p>
        </div>
    </form>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NomeSort">
                    @Html.DisplayNameFor(model => model.Ginastas[0].NomeCompleto)
                </a>     
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DataNascSort">
                    @Html.DisplayNameFor(model => model.Ginastas[0].DtNascim)
                </a> 
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EstadoSort">
                    @Html.DisplayNameFor(model => model.Ginastas[0].EstadoGinasta)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EmailSort">
                    @Html.DisplayNameFor(model => model.Ginastas[0].Email)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NumSocioSort">
                    Nº Sócio
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NomeSocioSort">
                    Nome Sócio
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ginastas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtNascim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socio.NumSocio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socio.Nome )
            </td>
            <td>
                    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/Ginastas/Edit' asp-route-id='@item.Id'>Editar</a>
                    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/Ginastas/Details' asp-route-id='@item.Id'>Detalhes</a>
            @if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
            {
                    <a class='btn btn-danger  btn-sm' asp-area='' asp-page='/Inscricoes/Ginastas/Delete' asp-route-id='@item.Id'>Apagar</a>
            }
                    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Index' asp-route-id='@item.Id'>Inscrições</a>
            </td>
        </tr>
}
    </tbody>
</table>
