@page
@model AppGCT.Pages.Inscricoes.Ginastas.IndexModel

@{
    ViewData["Title"] = "Gestão Ginastas";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Gestão Ginastas</h1>
<hr />
<p>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/Ginastas/Create'>Novo Ginasta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].DtNascim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].EstadoGinasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ginasta[0].Email)
            </th>
            <th>
                Nº Sócio
            </th>
            <th>
                Nome Sócio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ginasta) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtNascim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socio.NumSocio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socio.Nome )
            </td>
            <td>
                    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/Ginastas/Edit' asp-route-id='@item.Id'>Editar</a>
                    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/Ginastas/Details' asp-route-id='@item.Id'>Detalhes</a>
            @if (User.IsInRole("Administrador") || User.IsInRole("Ginásio"))
            {
                    <a class='btn btn-danger  btn-sm' asp-area='' asp-page='/Inscricoes/Ginastas/Delete' asp-route-id='@item.Id'>Apagar</a>
            }
                    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Inscricoes/InscricaoEpoca/Index' asp-route-id='@item.Id'>Inscrições</a>
            </td>
        </tr>
}
    </tbody>
</table>
