@page
@model AppGCT.Pages.Gestao.RubricasPrecario.DetailsModel

@{
    ViewData["Title"] = "Detalhes Rúbrica Preçário";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalhes Rúbrica Preçário</h1>

<hr />
<div>
    <a title="Voltar" class='btn btn-success' asp-area='' asp-page='/Gestao/RubricasPrecario/Index'>
        <span class="btn-svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </span>
    </a>
</div>
<br>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.CodRubrica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rubrica.CodRubrica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.DescricaoRubrica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rubrica.DescricaoRubrica)
        </dd>
        <dt class="col-sm-2">
            Classe
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rubrica.Modalidade.NomeClasse)
        </dd>
        <dt class="col-sm-2">
            Desconto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rubrica.Discount.DescDesconto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.EstadoRubrica)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Rubrica.EstadoRubrica, "A", new { @disabled = "disabled" }) Ativo
            @Html.RadioButtonFor(model => model.Rubrica.EstadoRubrica, "I", new { @disabled = "disabled" }) Inativo
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.TipoMovimento)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Rubrica.TipoMovimento, "D", new { @disabled = "disabled" }) Débito
            @Html.RadioButtonFor(model => model.Rubrica.TipoMovimento, "C", new { @disabled = "disabled" }) Crédito
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.IPrecario)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Rubrica.IPrecario, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Rubrica.IPrecario, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.OrdemPrecario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rubrica.OrdemPrecario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.IVlrUnit)
        </dt>
        <dd class="col-sm-10">
             @Html.RadioButtonFor(model => model.Rubrica.IVlrUnit, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Rubrica.IVlrUnit, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.ValorUnitario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rubrica.ValorUnitario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.IPagInscricao)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Rubrica.IPagInscricao, "S", new { @disabled = "disabled" }) Sim
            @Html.RadioButtonFor(model => model.Rubrica.IPagInscricao, "N", new { @disabled = "disabled" }) Não
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.TipoRubrica)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.Rubrica.TipoRubrica, "P", new { @disabled = "disabled" }) Pagamentos
            @Html.RadioButtonFor(model => model.Rubrica.TipoRubrica, "D", new { @disabled = "disabled" }) Devoluções
            @Html.RadioButtonFor(model => model.Rubrica.TipoRubrica, "G", new { @disabled = "disabled" }) Lançamentos Ginasta (Mensalidades, inscrições e seguros)
            @Html.RadioButtonFor(model => model.Rubrica.TipoRubrica, "S", new { @disabled = "disabled" }) Lançamentos Sócio (Quotas)
            @Html.RadioButtonFor(model => model.Rubrica.TipoRubrica, "R", new { @disabled = "disabled" }) Regularizações (Déb/Cred)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.LocalTreino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rubrica.LocalTreino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.Horario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rubrica.Horario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.HorasSemanais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rubrica.HorasSemanais)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rubrica.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.IdCriacao)
        </dt>
        <dd class="col-sm-10">
            @Model.IdCriacaoName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.DataModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rubrica.DataModificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rubrica.IdModificacao)
        </dt>
        <dd class="col-sm-10">
            @Model.IdModificacaoName
        </dd>
    </dl>
</div>
<div>
    <a class='btn btn-success' asp-area='' asp-page='/Gestao/RubricasPrecario/Edit' asp-route-id='@Model.Rubrica?.CodRubrica'>Editar</a>
</div>