@page
@model AppGCT.Pages.Gestao.RubricasPrecario.IndexModel

@{
    ViewData["Title"] = "Gestão Rúbricas Preçário";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Gestão Rúbricas Preçário</h1>

<p>
    <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/RubricasPrecario/Create'>Nova Rúbrica Preçário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rubrica[0].CodRubrica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubrica[0].DescricaoRubrica)
            </th>
            <th>
                Classe
            </th>
            <th>
                Desconto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubrica[0].EstadoRubrica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubrica[0].TipoMovimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubrica[0].IPrecario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubrica[0].OrdemPrecario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubrica[0].IVlrUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubrica[0].ValorUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubrica[0].LocalTreino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubrica[0].Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubrica[0].HorasSemanais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rubrica) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodRubrica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoRubrica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modalidade.NomeClasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount.DescDesconto)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DescricaoEstadoRubrica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoTipoMovimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoIPrecario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdemPrecario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoIVlrUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalTreino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasSemanais)
            </td>
            <td>
                <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/RubricasPrecario/Edit' asp-route-id='@item.CodRubrica'>Editar</a>
                <a class='btn btn-primary btn-sm' asp-area='' asp-page='/Gestao/RubricasPrecario/Details' asp-route-id='@item.CodRubrica'>Detalhes</a>
                <a class='btn btn-danger btn-sm' asp-area='' asp-page='/Gestao/RubricasPrecario/Delete' asp-route-id='@item.CodRubrica'>Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
